.scrollbar
  &::-webkit-scrollbar
    height 8px
    width 8px
    background transparent
  &::webkit-scrollbar-thumb
    border-radius 50%
    background transparent
  &:hover::-webkit-scrollbar-thumb
    border-radius 8px
    background rgba(144, 147, 153, 0.3)

.row
  display flex
  .col
    width calc(100%/3)
    &+.col
      margin-left 20px
